In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('df1.cvs', encoding='utf-8')
df1

C:\Users\asus\anaconda3\envs\django3\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (1,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,대여일자,대여시간,대여소,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
0,0,2017-01-01,0.0,영등포구청역 1번출구,NaN,정기,~10대,F,1.68,2.58,0.65
1,1,2017-01-01,0.0,신한은행 안국역지점 옆,NaN,정기,20대,F,2.39,0.25,9.56
2,2,2017-01-01,0.0,탑골공원 앞,NaN,정기,20대,F,2.25,0.22,10.23
3,3,2017-01-01,0.0,홍연2교옆,NaN,정기,20대,F,6.60,0.72,9.17
4,4,2017-01-01,0.0,삼각지역 4번출구 앞,NaN,정기,20대,F,1.38,0.13,10.62
...,...,...,...,...,...,...,...,...,...,...,...
45180964,45180964,2020-12-31,23.0,NaN,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,45180965,2020-12-31,23.0,NaN,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,45180966,2020-12-31,23.0,NaN,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,45180967,2020-12-31,23.0,NaN,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,45180968,2020-12-31,23.0,NaN,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [3]:
del df1['Unnamed: 0']
df1

,대여일자,대여시간,대여소,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
0,2017-01-01,0.0,영등포구청역 1번출구,NaN,정기,~10대,F,1.68,2.58,0.65
1,2017-01-01,0.0,신한은행 안국역지점 옆,NaN,정기,20대,F,2.39,0.25,9.56
2,2017-01-01,0.0,탑골공원 앞,NaN,정기,20대,F,2.25,0.22,10.23
3,2017-01-01,0.0,홍연2교옆,NaN,정기,20대,F,6.60,0.72,9.17
4,2017-01-01,0.0,삼각지역 4번출구 앞,NaN,정기,20대,F,1.38,0.13,10.62
...,...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,NaN,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,NaN,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,NaN,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,NaN,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,NaN,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [ ]:
# 대여소명이 Nan (=대여소 목록x, 따릉이 대여 관련 장소) : 삭제
# NaN이 있는 column -->  그 Nan row 지우기

# 1) what
# df1['대여소명'].unique()               
# df1['대여소명'].value_counts(dropna=False)    

# 2.1) 어디 & 개수
# df1[df1['대여소명'].isnull()]
# df1['대여소명'].isnull().sum()

In [4]:
# 3) 특정 column에 NaN값 있는 경우 삭제
df1.dropna(subset=['대여소명'], inplace=True)
df1

,대여일자,대여시간,대여소,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,NaN,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,NaN,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,NaN,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,NaN,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,NaN,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,NaN,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,NaN,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,NaN,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,NaN,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,NaN,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [7]:
# 삭제 확인
# df1['대여소명'].isnull().sum()    # 0
# df1['대여소명'].notnull().sum()   # 38738385

0

In [15]:
# 특정 row 값이 있는 row 제거 

# 대여소명 = '상암센터 정비실', '위트콤', '위트콤공장(0)', '중랑센터'인 경우
# 모두 대여소 목록에 없는 대여소에서 생성한 데이터이므로 제거

# 1) 칼럼 내 항목 갯수 조회 
df1['대여소명'].str.contains('상암센터 정비실').sum()

191

In [16]:
# 2) 삭제방법 1 : 조건 만족 행의 index 추출 --> drop 
idx = df1[df1['대여소명']=='상암센터 정비실'].index 
df1.drop(idx, inplace=True)
df1

,대여일자,대여시간,대여소,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,NaN,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,NaN,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,NaN,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,NaN,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,NaN,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,NaN,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,NaN,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,NaN,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,NaN,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,NaN,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [26]:
# 확인 = 0 
df1['대여소명'].str.contains('상암센터 정비실').sum()

0

In [18]:
# 2) 삭제방법 2 : 해당 열에 해당하는 Pandas Series 선택 --> != row만 df1 에 새로 저장 
# df1['대여소명'].str.contains('위트콤').sum()    #499
df1 = df1[df1.대여소명 !='위트콤']
df1

,대여일자,대여시간,대여소,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,NaN,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,NaN,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,NaN,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,NaN,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,NaN,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,NaN,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,NaN,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,NaN,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,NaN,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,NaN,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [25]:
# 확인 = 0 
df1['대여소명'].str.contains('위트콤').sum()  # 0

0

In [42]:
# 2) -----------------------------'중랑센터' 삭제가 안됨---------------------------------------------
# df1['대여소명'].str.contains('중랑센터').sum()   #1021

# idx2 = df1[df1['대여소명']=='중랑센터'].index
# df1.drop(idx2, inplace=True)
# df1['대여소명'].str.contains('중랑센터').sum()

# df1[df1.대여소명 !='중랑센터']   OR 
# df1[df1['대여소명']!='중랑센터']  #38737132 rows
# df1

,대여일자,대여시간,대여소,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,NaN,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,NaN,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,NaN,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,NaN,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,NaN,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,NaN,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,NaN,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,NaN,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,NaN,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,NaN,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [43]:
df1['대여소명'].str.contains('중랑센터').sum()

1021

In [31]:
# ------------------------------------성별의 NaN들을 'None'으로 변경?? ----------------------------------

# NaN = a place holder for MISSING data, 아직 정해지지 않은 값 
#       can be used as a numerical value on mathematical operations
#       a single NaN value --> sum/AVG --> NaN   **
# Nan = Na = Null (Python) 

# isnull(Nan & None) -> True / False 

# None = 비존재, 비어 "inexistent" or "empty"
#          can't & shouldn't - math op
#          var지정 x (boolean, str, num)
#          Python type(NoneType)
#         Pandas에서 None은 Nan로 자동 변경

# np.nansum(df, axis=1)  # COLUMN

In [44]:
# df1['성별'].unique()               
df1['성별'].value_counts(dropna=False)

NaN    16396105
M      13737621
F       8423000
\N       162967
m         10655
f          6784
Name: 성별, dtype: int64

In [35]:
df1

,대여일자,대여시간,대여소,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,NaN,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,NaN,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,NaN,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,NaN,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,NaN,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,NaN,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,NaN,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,NaN,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,NaN,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,NaN,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [47]:
del df1['대여소']
df1

,대여일자,대여시간,대여소명,대여구분코드,연령대코드,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [50]:
# Pandas column 이름 바꾸기 
df1.rename(columns={'대여구분코드':'대여권', '연령대코드':'연령대'},inplace=True)
df1

,대여일자,대여시간,대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [52]:
df1.rename(columns={'대여시간(24:00)':'시간(24:00)'},inplace=True)
df1

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [56]:
# sort (많은 순서대로)  # 16.3km/h 평균

# df1.sort_values(by='속도(km/h)', ascending=False).head(10)
df1

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...
45180964,2020-12-31,23.0,3121.가좌삼거리,일일권,30대,M,0.00,0.22,0.00
45180965,2020-12-31,23.0,560. 비전교회 앞,일일권,30대,M,0.00,0.87,0.00
45180966,2020-12-31,23.0,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [59]:
# 이동 거리와 사용 시간이 모두 0인 데이터: 삭제
idx3 = df1[df1['이동거리(km)']=='0.00'].index
df1.drop(idx3, inplace=True)

In [72]:
df1.sort_values(by='이동거리(km)', ascending=True)

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
37597443,2020-08-25,13.0,201. 진미파라곤 앞,정기권,40대,M,0.00,0.92,0.00
36846691,2020-08-12,19.0,1404. 동일로 지하차도,정기권,~10대,M,0.00,0.07,0.00
36846690,2020-08-12,19.0,1108. 공항시장역 2번출구 뒤,정기권,~10대,M,0.00,0.12,0.00
36846689,2020-08-12,19.0,1102. 방화사거리 마을버스 버스정류장,정기권,~10대,M,0.00,0.10,0.00
36846686,2020-08-12,19.0,714. 한국SGI 양천문화회관 앞,정기권,~10대,M,0.00,0.85,0.00
...,...,...,...,...,...,...,...,...,...
33583733,2020-06-18,15.0,853.용산역 맞은편,일일권,30대,M,26390.40,5.50,4798.25
32693729,2020-06-06,18.0,1401. 극동늘푸른아파트,일일권,20대,NaN,26393.64,2.45,10772.91
32171112,2020-05-30,16.0,589. 성수역3번출구,일일권,20대,NaN,26405.77,14.33,1842.69
32771707,2020-06-07,18.0,2217.아크로리버뷰 부지 앞,일일권,20대,M,26408.64,8.98,2940.83
32949375,2020-06-10,0.0,560. 비전교회 앞,정기권,20대,NaN,39549.19,2.38,16617.31

In [77]:
# 숫자는 '0.00'없이 0.00

# df1[df1.이동거리(km) !=0.00]   OR 
df0 = df1[df1['이동거리(km)']!=0.00]  #38737132 rows

In [84]:
# df0['이동거리(km)'].value_counts(ascending=False, dropna=False) 
df0.sort_values(by='이동거리(km)', ascending=True)               #26152880 rows

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
18176751,2019-07-09,23.0,123. 문화촌 공원,정기권,20대,NaN,0.01,0.08,0.12
10423185,07/10/2018,15.0,용답토속공원 앞,정기권,30대,F,0.01,0.03,0.33
29644308,2020-04-16,17.0,1974. 신도림2차e편한세상아파트 203동 앞,일일권,20대,NaN,0.01,0.03,0.33
27416698,2020-02-25,0.0,635. 시조사 앞 (청량고정문 옆),정기권,20대,NaN,0.01,0.08,0.12
9708450,16/09/2018,11.0,서울 상운차량,일일권,20대,M,0.01,0.03,0.33
...,...,...,...,...,...,...,...,...,...
33583733,2020-06-18,15.0,853.용산역 맞은편,일일권,30대,M,26390.40,5.50,4798.25
32693729,2020-06-06,18.0,1401. 극동늘푸른아파트,일일권,20대,NaN,26393.64,2.45,10772.91
32171112,2020-05-30,16.0,589. 성수역3번출구,일일권,20대,NaN,26405.77,14.33,1842.69
32771707,2020-06-07,18.0,2217.아크로리버뷰 부지 앞,일일권,20대,M,26408.64,8.98,2940.83
32949375,2020-06-10,0.0,560. 비전교회 앞,정기권,20대,NaN,39549.19,2.38,16617.31

In [85]:
df0.sort_values(by='사용시간(hr)', ascending=True)

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
11801557,28/11/2018,9.0,신길역3번출구,정기권,40대,M,180.82,0.00,inf
5948772,26/05/2018,15.0,응암오거리,일일권,20대,F,4.00,0.00,inf
6028050,29/05/2018,7.0,정명학원,정기권,40대,M,0.44,0.00,inf
14055159,2019-04-28,21.0,301. 경복궁역 7번출구 앞,정기권,30대,M,0.25,0.00,inf
6028051,29/05/2018,7.0,증산3교 앞,정기권,40대,M,7.93,0.00,inf
...,...,...,...,...,...,...,...,...,...
29189924,2020-04-08,22.0,3508. 화양사거리,정기권,20대,NaN,1.97,130.25,0.02
29189349,2020-04-08,21.0,2105. 미성동 신림체육센터,일일권,20대,NaN,29.75,135.70,0.22
21280349,2019-09-14,18.0,3518. 군자역 7번출구뒤,정기권,20대,NaN,6.66,176.18,0.04
29193558,2020-04-08,23.0,502. 뚝섬유원지역 1번출구 앞,일일권,20대,NaN,6.84,258.57,0.03
29193537,2020-04-08,23.0,207. 여의나루역 1번출구 앞,일일권,20대,NaN,37.39,263.57,0.14

In [86]:
df0 = df0[df0['사용시간(hr)']!=0.00]

In [87]:
df0.sort_values(by='사용시간(hr)', ascending=True)  # 26139380 rows

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
8424676,10/08/2018,7.0,사당중학교 버스정류소,정기권,20대,F,0.40,0.02,20.00
16725365,2019-06-16,14.0,300. 정동사거리,정기권,40대,NaN,0.51,0.02,25.50
4732748,22/03/2018,16.0,용답토속공원 앞,정기권,20대,F,0.51,0.02,25.50
4365802,05/02/2018,17.0,자양나들목,정기권,~10대,M,0.39,0.02,19.50
16725446,2019-06-16,14.0,3541. 커먼그라운드,정기권,40대,NaN,0.37,0.02,18.50
...,...,...,...,...,...,...,...,...,...
29189924,2020-04-08,22.0,3508. 화양사거리,정기권,20대,NaN,1.97,130.25,0.02
29189349,2020-04-08,21.0,2105. 미성동 신림체육센터,일일권,20대,NaN,29.75,135.70,0.22
21280349,2019-09-14,18.0,3518. 군자역 7번출구뒤,정기권,20대,NaN,6.66,176.18,0.04
29193558,2020-04-08,23.0,502. 뚝섬유원지역 1번출구 앞,일일권,20대,NaN,6.84,258.57,0.03
29193537,2020-04-08,23.0,207. 여의나루역 1번출구 앞,일일권,20대,NaN,37.39,263.57,0.14

In [91]:
df = df0
df

,대여일자,시간(24:00),대여소명,대여권,연령대,성별,이동거리(km),사용시간(hr),속도(km/h)
4196232,01/01/2018,0.0,정동사거리,정기권,~10대,F,1.45,0.38,3.82
4196233,01/01/2018,0.0,자양사거리 광진아크로텔 앞,정기권,20대,F,2.13,0.25,8.52
4196234,01/01/2018,0.0,미아사거리 1번 출구,정기권,20대,F,3.14,0.28,11.21
4196235,01/01/2018,0.0,광진메디칼 앞,정기권,20대,F,1.24,0.08,15.50
4196236,01/01/2018,0.0,화양사거리,정기권,20대,F,1.94,0.72,2.69
...,...,...,...,...,...,...,...,...,...
45180960,2020-12-31,23.0,125. 서강대 남문 옆,일일권,20대,M,3.03,0.68,4.46
45180962,2020-12-31,23.0,1211. 방이삼거리,일일권,20대,M,3.55,0.52,6.83
45180966,2020-12-31,23.0,1416. 상봉역 3번출구,일일권,30대,M,0.71,0.07,10.14
45180967,2020-12-31,23.0,1625. 상계역(4번출구),일일권,50대,M,0.65,0.12,5.42
45180968,2020-12-31,23.0,419. 홈플러스 앞,단체권,20대,NaN,9.19,2.13,4.31

In [ ]:
# SAVE AS .csv FILE
df.to_csv('bicycle3.csv', sep=',')